@charset "UTF-8";
/* CSS Document */

/* SUB NAVI SECTION INCLUDED INTO TOP SECTIONS HEADER */

#shopnavi {
	height:50px; background:#241714; width:100%; margin:0; margin-top:0px; padding:0px;
}



#shopnavi .nav-bar > ul {  margin-left: 0; padding:10px; margin:0;  }
#shopnavi .nav-bar > li { float: left; display: block; position: relative; font-family:'Poiret One', cursive, verdana; font-size:14px; text-transform:capitalize; color:#c96823; padding:0 10px; background:none; box-shadow:none; border: none; 
font-weight:bold; height:50px; padding-bottom:30px; }
#shopnavi .nav-bar > li:first-child { border:0;  }
#shopnavi .nav-bar > li:last-child { margin-right:0;}
#shopnavi .nav-bar > li.active > a { color: white; cursor: default; margin:0;  }
#shopnavi .nav-bar > li.active:hover { cursor: default; }
#shopnavi .nav-bar > li > a { color: #c96823; font-size:14px; display:block; padding:0; font-weight:bold; margin:0;  }
#shopnavi .nav-bar > li > a:hover { color:#fa5d19; }



#shopnavi h2 {
	font-family:'museo sans regular', verdana; color:#f59c7d; font-size:30px; margin-top:0px; margin-left:30px; 
	text-transform:capitalize; font-weight:bold; padding-bottom:20px;
}


.viewport {
	height:200px;
}
.viewport img {
	float:left; margin-left:130px;
}

.viewport h1 {
	font-family:'Poiret One',cursive; font-size:36px; color:#be3100;
}

.viewport h1 span {
	margin-top:10px; padding:15px; color:white; background:#c9b849; position:absolute; float:left;
	display:block; margin-left:290px;
}







/* divider */

.adire {
	height:50px; background:url(../../images/section-divider.jpg) top left repeat #495f46;
}


.adire-light {
	height:50px; background:#e2e6cc url(../../images/adire-light.png) top left repeat;
}




/* SHOP SECTION */

#shop-section {
	background-color:#e3e7ce; box-shadow:inset 0 0 40px #b2b5a2, inset 0 0 5px 10px #d0d4bd; min-height:500px; width:100%;
	
}




#shop-section h1 {
	width:980px; height:80px; padding-top:5px; text-align:center; font-family:'museo sans regular', cursive;
	font-weight:bolder; color:white; background:url(../../images/shope-hr.png) top left no-repeat /*#6CF*/; font-size:38px;
	text-shadow:1px 2px 2px #6CF; text-transform:capitalize;
}